{% extends 'base.html' %}

{% block title %}
  Probability Calculation
{% endblock %}

{% block content %}
  {% load static %}
{% csrf_token %}
<script>
</script>
  <body class="bg-background p-8 font-lato h-full">
    <div>
      <h1 class="text-xl font-bold text-primary capitalize">probability normal distribution</h1>
      <p class="text-xs">The normal distribution is a continuous probability distribution that is symmetric around the mean, where most values cluster around the central peak, following a bell-shaped curve.</p>
    </div>

    <div class="w-full h-full mt-2 flex flex-row justify-stretch gap-4">
      {% comment %}COL 2{% endcomment %}
      <div class="flex flex-col justify-around gap-4 w-1/2 h-auto">
        {% comment %}Container 1{% endcomment %}
        <div class="bg-container w-full h-[50vh] rounded-md flex flex-col">
          {% comment %}Title and Full Screen{% endcomment %}
          <div class="flex flex-row justify-between m-3">
            <p class="text-sm font-bold">Normal Distribution</p>
            <button class="w-5 h-5 bg-input-box p-1 rounded-sm">
              <svg class="fill-primary-text w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z" />
              </svg>
            </button>
          </div>

          <div class="h-4/5 w-full px-3 pt-3">
            <canvas id="chart1" class="w-full h-full"></canvas>
          </div>
        </div>

        <div class="bg-container w-full h-[50vh] rounded-md flex flex-col">
            {% comment %}Title and Full Screen{% endcomment %}
            <div class="flex flex-row justify-between m-3">
              <p class="text-sm font-bold">Normal Distribution</p>
              <button class="w-5 h-5 bg-input-box p-1 rounded-sm">
                <svg class="fill-primary-text w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path d="M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z" />
                </svg>
              </button>
            </div>
  
            <div class="h-4/5 w-full px-3 pt-3">
              <canvas id="chart2" class="w-full h-full"></canvas>
            </div>
          </div>
        
      </div>

      {% comment %}COL 2{% endcomment %}
      <div class="flex flex-col justify-around gap-4 w-1/2 h-auto">
        {% comment %}Container 1{% endcomment %}
        <div class="bg-container w-full h-[50vh] rounded-md flex flex-col">
          {% comment %}Title and Full Screen{% endcomment %}
          <div class="flex flex-row gap-1 m-3 item">
            <p class="text-sm font-bold">Input Controls</p>
          </div>

          <div class="w-full px-3 flex flex-col gap-4">
            <div class="flex flex-row gap-1 justify-arround">
                <p id="dataset" class="w-max text-sm font-bold bg-input-box px-3 py-2 rounded-sm">
                    Selected Dataset : {{dataset}}
                </p>
                <p class="w-max text-sm font-bold bg-input-box px-3 py-2 rounded-sm">
                    MIN : {{min}}
                    <input type="number" id="minval" value="{{min}}" hidden> 
                </p>
                <p class="w-max text-sm font-bold bg-input-box px-3 py-2 rounded-sm">
                    MAX : {{max}}
                    <input type="number" id="maxval" value="{{max}}" hidden> 

                </p>
            </div>

            {% comment %} INPUT F1 {% endcomment %}
            <div class="relative inline-block w-full rounded-md bg-input-box">
                <!-- Trigger -->
                <button class="w-full text-left px-4 py-2 bg-transparent rounded-md focus:outline-none" onclick="toggleDropdown()">
                    <span id="dropdownLabel" class="text-sm basic-input-placeholder">Select an option</span>
                    <svg xmlns="http://www.w3.org/2000/svg" id="basic-dropdown-icon" class="h-5 w-5 float-right basic-input-placeholder transition-all duration-150 ease-out" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="transform: rotate(0deg);">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
    
                <!-- Dropdown menu -->
                <ul id="dropdownMenu" class="absolute left-0 z-10 w-full rounded-md shadow-md hidden bg-white">
                    <li class="px-4 py-2 hover:bg-input-box cursor-pointer text-sm" onclick="selectOption('P(&#119909;&gt;y)')">
                        P(&#119909;&gt;y)
                    </li>
                    <li class="px-4 py-2 hover:bg-input-box cursor-pointer text-sm" onclick="selectOption('P(&#119909;&lt;y)')">
                        P(&#119909;&lt;y)
                    </li>
                    <li class="px-4 py-2 hover:bg-input-box cursor-pointer text-sm" onclick="selectOption('P(&#119909;&gt;=y)')">
                        P(&#119909;&gt;=y)
                    </li>
                    <li class="px-4 py-2 hover:bg-input-box cursor-pointer text-sm" onclick="selectOption('P(&#119909;&lt;=y)')">
                        P(&#119909;&lt;=y)
                    </li>
                    <li class="px-4 py-2 hover:bg-input-box cursor-pointer text-sm" onclick="selectOption('P(x&lt;&#119909;&lt;y)')">
                        P(x&lt;&#119909;&lt;y)
                    </li>
                    <li class="px-4 py-2 hover:bg-input-box cursor-pointer text-sm" onclick="selectOption('P(x&lt;=&#119909;&lt;=y)')">
                        P(x&lt;=&#119909;&lt;=y)
                    </li>
                </ul>
            </div>

            <div class="flex flex-row gap-2 justify-center items-center">
                <input id="inp1" type="number" oninput="updatedStatement()" class="w-full rounded-md bg-input-box p-2 text-sm outline-none" placeholder="Enter a value(x)" />
                <input id="inp2" type="number" oninput="updatedStatement()" class="w-full rounded-md bg-input-box p-2 text-sm outline-none" placeholder="Enter a value(y)" />
            </div>
            

            <div class="flex flex-row gap-1 justify-center items-center text-sm ">
                <div class="w-full p-1 bg-input-box rounded-md">
                    <span class="p-2">
                        Equation
                    </span>
                    <p id="statment" class="text-sm font-bold bg-input-box px-3 py-2 rounded-sm">
                        ----
                    </p>
                </div>
                <div class="w-full p-1 bg-input-box rounded-md">
                    <span class="px-2">
                        Roundup to 4 Decimal Points
                    </span>
                    <p id="" class=" flex flex-row items-center gap-2 text-sm font-bold px-2 py-2 rounded-sm">
                        <input id="round4" type="checkbox" class="w-3 h-3 !scale-125 !border-gray-400 !accent-blue-600 !rounded-md"> Upto 4 Decimal

                    </p>
                </div>
            </div>

            <div class="flex flex-row gap-1 justify-center mb-3">
                <button class="w-1/2 bg-primary text-white rounded-md p-2 text-sm bg-btn" onclick="calculate()">Calculate</button>
                <button class="w-1/2 bg-primary text-white rounded-md p-2 text-sm bg-btn" onclick="reset()">Reset</button>
            </div>

          </div>
        </div>

        <div class="bg-container w-full h-[50vh] rounded-md flex flex-col">
          {% comment %}Title and Full Screen{% endcomment %}
          <div class="flex flex-row justify-between m-3">
            <p class="text-sm font-bold">Result</p>
          </div>

          <div class="block h-4/5 w-full px-3 pt-3">
            
            <div class="mb-4 flex flex-row gap-2">

                <div id="probability" class="inline-flex p-3 text-2xl font-bold text-white rounded-md" style="background-color: #fe956c;">
                    0.00
                </div>

                <div class="flex flex-col">
                    <p class="text-sm font-bold">Probability</p>
                    <p id="optionof1" class="text-xs text-gray-400">Select Values to continue</p>
                </div>
            </div>


            <div class="mb-4 flex flex-row gap-2">

                <div id="per" class="inline-flex p-3 text-2xl font-bold text-white rounded-md" style="background-color: #6d56fc;">
                    0.00
                </div>
    
                <div class="flex flex-col">
                    <p class="text-sm font-bold">Probability in(%)</p>
                    <p id="optionof2" class="text-xs text-gray-400">Select Values to continue</p>
                </div>
            </div>

            <div class="mb-4 flex flex-row gap-2">

                <div id="mean" class="inline-flex p-3 items-center text-2xl font-bold text-white rounded-md" style="background-color: #6d56fc;">
                    0.00
                </div>
    
                <div class="flex flex-col">
                    <p class="text-sm font-bold">Mean</p>
                    <p class="text-xs text-gray-400">
                        \[\mu = \frac{\sum x_i}{n}\]
                    </p>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
  <script src="{% static 'js/charts.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>

  <script>
    function generateChart() {
      let dataArray = [0]
      let lowerBound = 0
      let upperBound = 0
      let condition = 'Select Values to continue'
    
      displayChart1(dataArray, lowerBound, upperBound, condition)
      displayChart2(dataArray, lowerBound, upperBound, condition)
    }
    generateChart()
  </script>
{% endblock %}
